[Unit]
Description=kubernetes-ui
After=docker.service
Requires=docker.service

[Service]
User=core
TimeoutStartSec=0
EnvironmentFile=/etc/environment
ExecStartPre=/usr/bin/docker pull rimusz/kubernetes-ui-docker:latest
ExecStartPre=-/usr/bin/docker kill kubernetes-ui
ExecStartPre=-/usr/bin/docker rm kubernetes-ui
ExecStart=/bin/bash -c '/usr/bin/docker run --rm --name kubernetes-ui \
 -e ENV_K8S_API_SERVER="http://${COREOS_PUBLIC_IPV4}:8080/api/v1beta2" \
 -p 8001:80 rimusz/kubernetes-ui-docker'
ExecStop=/usr/bin/docker stop kubernetes-ui
ExecStopPost=-/usr/bin/docker rm kubernetes-ui

TimeoutStartSec=900s
Restart=always
RestartSec=10s

[X-Fleet]
MachineMetadata=role=control
