[Unit]
Description=Kubernetes Registration Service
Documentation=https://github.com/kelseyhightower/kube-register

[Service]
ExecStart=/opt/bin/kube-register \
--metadata=role=node \
--fleet-endpoint=unix:///var/run/fleet.sock \
--api-endpoint=http://127.0.0.1:8080 \
--healthz-port=10248

Restart=always
RestartSec=10

[X-Fleet]
MachineOf=kube-apiserver.service
